*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
    font-family: Lato, sans-serif;
    margin: 0;
    display: grid;
    color: #333;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

#MainPage{
	visibility: visible;
}

#LeaveFormPage{
	visibility: hidden;
}

#List{
	visibility: hidden;
}


/* table: leave application details */
.tbl-leave-data{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	color: #333;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#TblHeader{
  	text-align: left;
  	background-color: #0B1032;
  	color: white;
  	text-align: center;
  	width: 100%;
  	font-size: 16px;
  	font-style: bold;
}

.tbl-leave-data tbody tr{
  border-bottom: 1px solid #dddddd;
}

.tbl-leave-data tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.tbl-leave-data tbody tr:last-of-type{
  border-bottom: 2px solid #0B1032;
}

.tbl-leave-data tbody tr.active-row{
  font-weight: bold;
  color: #009879;
}

.tbl-leave-data th{
	cursor: pointer;
	padding: 12px 15px;
}
  
.tbl-leave-data .th-sort-asc::after{
    content: "\25b4";
}
  
.tbl-leave-data .th-sort-desc::after{
    content: "\25be";
}
  
.tbl-leave-data .th-sort-asc::after,
.tbl-leave-data .th-sort-desc::after{
    margin-left: 5px;
}
  
.tbl-leave-data .th-sort-asc,
.tbl-leave-data .th-sort-desc{
    background: #ddd;
}
  

#Options{
	display: flex;
	flex-direction: row;
	align-self: center;
	border-bottom: 1px solid #0B1032;
}

.doc-image{
	height: 50px;
	width: 50px;
}

.element-number {
	visibility: hidden;
}

#ImagePreview{
	height: 100px;
	width: 100px;
	visibility: hidden;
}

.icon{
	height: 20px;
	width: 20px;
}

/* Leave Form */
.leave-form{
	display: flex;
	flex-direction: column;
	text-align: left;
	align-self: center;
	max-width: 700px;
	overflow: hidden;
}

.range{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 3fr; 
	grid-gap: 10px;
}

input, select, button,h2{
	border: 1px solid #ddd;
	width: auto;
	height: 50px;
	margin: 5px;
	padding: 10px;
}

h2{
	background-color: #0B1032;
	text-align: center;
	color: white;	
}

.button{
	display: grid;
	grid-template-columns: 50% 50%;
	align-self: center;
}

label{
	display: grid;
	grid-template-columns: 30% auto;
	padding: 10px;
}

button{
	background-color: #0B1032;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  	font-size: 16px;
  	outline: none;
  	border-radius: 10px;
}

button:hover{
	background-color: #EA2A33
}

::placeholder{
	color:#333;
}

#BtnAddReq{
	max-width: 400px;
	align-self: center;
}


input:focus::placeholder{
  	color: transparent;
}

input[type=file]{
	background: none;
	margin: 0 5px;
}

header,
main,
footer{ 
    padding: 16px;
    text-align: center;
}

header{
	display: flex;
    background: #ddd;
    grid-area: header;
    justify-content: flex-start;
    text-align: center;
}

header > img{
	width: 190px;
	height: 30px;
}

main {
	display: flex;
    grid-area: main;
    flex-direction: column;
}

form > name{
	background: #fcfcfc;
}

footer{
    grid-area: footer;
}